<link rel="import"
      href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import"
      href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import"
      href="../../../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import"
      href="../../../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import"
      href="../../../../elements/dv-elements/admin/charts/billing-chart.html">
<link rel="import"
      href="../../../../elements/dv-elements/admin/dv-admin-mixins.html">

<dom-module id="billing-plots-view">
    <template>
        <style>
            :host {
                display: block;
                height: 80vh;
                @apply(--layout-vertical);
                -webkit-font-smoothing: antialiased;
            }

            paper-scroll-header-panel {
                height: 85%;
            }

            paper-toolbar {
                color: var(--dv-main-background);
                background: var(--dv-charcoal-grey);
            }

            #labels {
                width: 98%;
                height: 50px;
                margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                background: var(--dv-light-grey);
                color: var(--dv-charcoal-grey);
            }

            #plots {
                width: 98%;
                margin: 0 auto;
                display: grid;
                grid-gap: 10px;
                grid-template-columns: repeat(5, 1fr);
            }

            .banner {
                justify-self: center;
                align-self: center;
            }

            .caption {
                justify-self: start;
                align-self: center;
                background: var(--dv-light-grey);
                color: var(--dv-indigo-500);
                font-size: 12pt;
                margin-left: 20px;
                cursor: default;
            }

            .plot {
                justify-self: stretch;
                align-self: stretch;
            }
        </style>

        <iron-ajax
                id="AjaxGet"
                method="GET"
                handle-as="json"
                on-response="_handleResponse"
                on-error="_handleError">
        </iron-ajax>
        <paper-toolbar>
            <div slot="top" class="title"><strong>Billing Plots</strong></div>
        </paper-toolbar>
        <hr/>
        <paper-scroll-header-panel class="flex" fixed>
            <div slot="header">
                <div id="labels">
                    <span class="banner"><strong>DATA</strong></span>
                    <span class="banner"><strong>24 HOURS</strong></span>
                    <span class="banner"><strong>7 DAYS</strong></span>
                    <span class="banner"><strong>30 DAYS</strong></span>
                    <span class="banner"><strong>365 DAYS</strong></span>
                </div>
                <br/>
            </div>
            <div id="plots" slot="content">
                <template is="dom-repeat" items="[[plotData]]">
                    <span class="caption"><strong>[[item.caption]]</strong></span>
                    <div class="plot">
                        <billing-chart
                                title=[[item.plot0.title]]
                                y-axis="[[item.yaxis]]"
                                input-data="[[item.plot0.data]]"/>
                    </div>
                    <div class="plot">
                        <billing-chart
                                title=[[item.plot1.title]]
                                y-axis="[[item.yaxis]]"
                                input-data="[[item.plot1.data]]"/>
                    </div>
                    <div class="plot">
                        <billing-chart
                                title=[[item.plot2.title]]
                                y-axis="[[item.yaxis]]"
                                input-data="[[item.plot2.data]]"/>
                    </div>
                    <div class="plot">
                        <billing-chart
                                title=[[item.plot3.title]]
                                y-axis="[[item.yaxis]]"
                                input-data="[[item.plot3.data]]"/>
                    </div>
                </template>
            </div>
        </paper-scroll-header-panel>
    </template>

    <script>
        class BillingPlotsView extends DcacheViewMixins.AdminAutoRefresh(DcacheViewMixins.AdminBase(Polymer.Element)) {

            static get is() {
                return 'billing-plots-view';
            }

            static get properties() {
                return {
                    grid: {
                        type: Array
                    },

                    plotData: {
                        type: Array,
                        notify: true
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback();
                this.refreshAndReset(this._sendHistogramsRequest.bind(this), 300000);
            }

            _getIndex(activity) {
                switch (activity) {
                    case 'RESTORE':
                    case 'STORE':
                    case 'AVGSECS':
                    case 'MISSES':
                        return 1;
                    case 'MINSECS':
                        return 2;
                    default:
                        return 0;
                }
            }

            _getKey(activity, type, timespan) {
                activity = activity.toLowerCase();
                type = type.toLowerCase();
                timespan = timespan.toLowerCase();
                switch (activity) {
                    case 'read':
                    case 'restore':
                        return `read_restore_${type}_${timespan}`;
                    case 'write':
                    case 'store':
                        return `write_store_${type}_${timespan}`;
                    case 'p2p':
                        return `${activity}_${type}_${timespan}`;
                    default:
                        return `${activity}_${timespan}`;
                }
            }

            _handleError(event) {
                this.handleError(event.detail.error.message);
            }

            _handleResponse(event) {
                this.grid = event.detail.response;
                google.charts.load('current', {'packages': ['corechart']});
                google.charts.setOnLoadCallback(this._mapGrid.bind(this));
            }

            _mapGrid() {
                const charts = {};

                this.grid.forEach((h) => {
                    const id = h.identifier.split('_');
                    const key = this._getKey(id[0], h.dataUnit, id[1]);

                    let namedArrayList = charts[key];
                    if (!namedArrayList) {
                        namedArrayList = [];
                        charts[key] = namedArrayList;
                    }

                    const label = key.split('_').length == 2 ? h.dataUnit : id[0];

                    /*
                     * sort the entry
                     */
                    const index = this._getIndex(label);

                    namedArrayList[index] = [label, h.values];
                });

                this.plotData = [];
                this.plotData = this._distributeDataToArray(charts);
            }

            _createDataItem(caption, yaxis, type, timeslots, data) {
                const item = {};
                item.caption = caption;
                item.yaxis = yaxis;
                item.plot0 = {
                    title: type + timeslots[0],
                    data: data[0]
                };
                item.plot1 = {
                    title: type + timeslots[1],
                    data: data[1]
                };
                item.plot2 = {
                    title: type + timeslots[2],
                    data: data[2]
                };
                item.plot3 = {
                    title: type + timeslots[3],
                    data: data[3]
                };
                return item;
            }

            _distributeDataToArray(charts) {
                const captions = [
                    'Bytes Read/Staged', 'Files Read/Staged',
                    'Bytes Written/Stored', 'Files Written/Stored',
                    'Bytes Pool-to-Pool', 'Files Pool-to-Pool',
                    'Connection Time', 'Cache Hits/Misses'
                ];

                const yaxis = [
                    'Amount Transferred (bytes)', 'Number of Transfers',
                    'Amount Transferred (bytes)', 'Number of Transfers',
                    'Amount Transferred (bytes)', 'Number of Transfers',
                    'Transfer Time (secs)', 'Number of hits/misses'
                ];

                const timeslots = [' 24 Hours', ' 7 Days', ' 30 Days', ' 365 Hours'];

                const types = ['Read/Restore Bytes', 'Read/Restore Files',
                    'Write/Store Bytes', 'Write/Store Files',
                    'Pool-to-Pool Bytes', 'Pool-to-Pool Files',
                    'Connection Time', 'Cache Hits/Misses'];

                const data = [
                    [charts.read_restore_bytes_day,
                        charts.read_restore_bytes_week,
                        charts.read_restore_bytes_month,
                        charts.read_restore_bytes_year],
                    [charts.read_restore_count_day,
                        charts.read_restore_count_week,
                        charts.read_restore_count_month,
                        charts.read_restore_count_year],
                    [charts.write_store_bytes_day,
                        charts.write_store_bytes_week,
                        charts.write_store_bytes_month,
                        charts.write_store_bytes_year],
                    [charts.write_store_count_day,
                        charts.write_store_count_week,
                        charts.write_store_count_month,
                        charts.write_store_count_year],
                    [charts.p2p_bytes_day,
                        charts.p2p_bytes_week,
                        charts.p2p_bytes_month,
                        charts.p2p_bytes_year],
                    [charts.p2p_count_day,
                        charts.p2p_count_week,
                        charts.p2p_count_month,
                        charts.p2p_count_year],
                    [charts.connection_day,
                        charts.connection_week,
                        charts.connection_month,
                        charts.connection_year],
                    [charts.cached_day,
                        charts.cached_week,
                        charts.cached_month,
                        charts.cached_year]
                ];

                const plotData = [];

                for (let t = 0; t < types.length; t++) {
                    plotData.push(this._createDataItem(captions[t],
                        yaxis[t], types[t], timeslots, data[t]));
                }

                return plotData;
            }

            _sendHistogramsRequest() {
                this.$.AjaxGet.url = this.getUrl('billing/histograms', null);
                this.$.AjaxGet.headers = this.getHeaders();
                this.$.AjaxGet.generateRequest();
            }
        }

        window.customElements.define(BillingPlotsView.is, BillingPlotsView);
    </script>

</dom-module>