<link rel="import"
      href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import"
      href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import"
      href="../../../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import"
      href="../../../../bower_components/vaadin-grid/vaadin-grid-filter.html">
<link rel="import"
      href="../../../../bower_components/vaadin-grid/vaadin-grid-column-group.html">
<link rel="import"
      href="../../../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import"
      href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import"
      href="../../../../elements/dv-elements/admin/dv-vaadin-theme.html">
<link rel="import"
      href="../../../../elements/dv-elements/admin/dv-admin-mixins.html">

<dom-module id="quota-info-view">
    <template>
        <style is="custom-style">
            :host {
                display: block;
                height: 80vh;
                @apply(--layout-vertical);
            }

            paper-toolbar {
                color: var(--dv-main-background);
                background: var(--dv-charcoal-grey);
            }

            .tablediv {
                height: 100%;
            }

            input {
                @apply(--layout-flex);
                height: 95%;
                width: 90%;
                padding-right: 5px;
            }

            paper-toolbar#controls {
                background: var(--dv-main-background);
                color: var(--dv-charcoal-grey);
            }

            paper-radio-button {
                --paper-radio-button-checked-color: var(--dv-charcoal-grey);
                --paper-radio-button-checked-ink-color: var(--dv-charcoal-grey);
                --paper-radio-button-unchecked-color: var(--dv-light-grey);
                --paper-radio-button-unchecked-ink-color: var(--dv-light-grey);
                font-size: 10pt;
            }

            .column-centre {
                text-align: center
            }

            .red {
                color: rgb(221, 44, 0);
            }

            .type0 {
                background: var(--dv-green-900);
                color: var(--dv-main-background);
                width: 100%;
            }

            .type1 {
                background: var(--dv-blue-900);
                color: var(--dv-main-background);
                width: 100%;
            }
        </style>

        <iron-ajax
                id="AjaxGetUsers"
                method="GET"
                handle-as="json"
                on-response="_handleUsersResponse"
                on-error="_handleError">
        </iron-ajax>
        <iron-ajax
                id="AjaxGetGroups"
                method="GET"
                handle-as="json"
                on-response="_handleGroupsResponse"
                on-error="_handleError">
        </iron-ajax>
        <paper-toolbar id="title">
            <div slot="top" class="title"><strong>User & Group Quotas</strong></div>
        </paper-toolbar>
        <hr/>
        <paper-toolbar id="controls">
            <paper-radio-group slot="top" selected="{{display}}">
                <paper-radio-button name="suffixed">
                    Suffixed
                </paper-radio-button>
                <paper-radio-button name="raw">
                    Bytes
                </paper-radio-button>
            </paper-radio-group>
        </paper-toolbar>
        <hr/>
        <div class="tablediv">
            <vaadin-grid aria-label="Quota Info" id="quotainfo"
                         items="[[quotas]]" multi-sort="true" size="100">
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="id">
                            Id
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="75px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="Id"
                                                path="id"
                                                value="[[_filterId]]">
                                <input slot="filter"
                                       placeholder="Id"
                                       value="{{_filterId::input}}"
                                       focus-target="">
                            </vaadin-grid-filter>
                        </template>
                        <template>[[item.id]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="type.value">
                            Type
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="75px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="Type"
                                                path="type.name"
                                                value="[[_filterType]]">
                                <input slot="filter"
                                       placeholder="Type"
                                       value="{{_filterType::input}}"
                                       focus-target="">
                            </vaadin-grid-filter>
                        </template>
                        <template>
                            <span class$="type[[item.type.value]]">
                                [[item.type.name]]
                            </span>
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="custodial">
                            Custodial
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="75px">
                        <template>
                            <span class$="[[_computedColumnCss(item.custodialExceeded)]]">
                                [[item.custodial]]
                            </span>
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="custodialLimit">
                            Custodial Limit
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="75px">
                        <template>
                            <span class$="[[_computedColumnCss(item.custodialExceeded)]]">
                                [[item.custodialLimit]]
                            </span>
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="output">
                            Output
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="75px">
                        <template>
                            <span class$="[[_computedColumnCss(item.outputExceeded)]]">
                                [[item.output]]
                            </span>
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="outputLimit">
                            Output Limit
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="75px">
                        <template>
                            <span class$="[[_computedColumnCss(item.outputExceeded)]]">
                                [[item.outputLimit]]
                            </span>
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="replica">
                            Replica
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="75px">
                        <template>
                            <span class$="[[_computedColumnCss(item.replicaExceeded)]]">
                                [[item.replica]]
                            </span>
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="replicaLimit">
                            Replica Limit
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="75px">
                        <template>
                            <span class$="[[_computedColumnCss(item.replicaExceeded)]]">
                                [[item.replicaLimit]]
                            </span>
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
            </vaadin-grid>
        </div>
    </template>

    <script>
        class QuotaInfoView extends
            DcacheViewMixins.AdminAutoRefresh(DcacheViewMixins.AdminBase(DcacheViewMixins.Commons(Polymer.Element))) {

            static get is() {
                return 'quota-info-view';
            }

            static get properties() {
                return {
                    quotas: {
                        type: Array,
                        notify: true,
                        value: []
                    },
                    users: {
                        type: Array,
                        value: []
                    },
                    groups: {
                        type: Array,
                        value: []
                    },
                    display: {
                        type: String,
                        value: 'raw',
                        notify: true,
                        observer: '_requestQuotaInfo',
                    },

                }
            }

            _computedColumnCss(exceeded) {
                return exceeded ? 'column-centre red' : 'column-centre';
            }

            connectedCallback() {
                super.connectedCallback();
                this.componentPath = '/admin/quota-info';
                this.refreshAndReset(this._requestQuotaInfo.bind(this), 60000);
            }

            _convertSizes(quota) {
                let current = this.isNumber(quota.custodial);
                let limit = this.isNumber(quota.custodialLimit);

                if (current && limit) {
                    quota.custodialExceeded = quota.custodial >= quota.custodialLimit;
                } else {
                    quota.custodialExceeded = false;
                }

                quota.custodial = this._handleConversion(quota.custodial, current, false);
                quota.custodialLimit = this._handleConversion(quota.custodialLimit, limit, true);

                current = this.isNumber(quota.output);
                limit = this.isNumber(quota.outputLimit);

                if (current && limit) {
                    quota.outputExceeded = quota.output >= quota.outputLimit;
                } else {
                    quota.outputExceeded = false;
                }

                quota.output = this._handleConversion(quota.output, current, false);
                quota.outputLimit = this._handleConversion(quota.outputLimit, limit, true);

                current = this.isNumber(quota.replica);
                limit = this.isNumber(quota.replicaLimit);

                if (current && limit) {
                    quota.replicaExceeded = quota.replica >= quota.replicaLimit;
                } else {
                    quota.replicaExceeded = false;
                }

                quota.replica = this._handleConversion(quota.replica, current, false);
                quota.replicaLimit = this._handleConversion(quota.replicaLimit, limit, true);
            }

            _handleConversion(value, isNumber, isLimit) {
                if (!isNumber) {
                    return isLimit ? 'UNDEF' :
                        (this.display === 'suffixed' ? '0 Bytes' : '0');
                }

                if (this.display === 'suffixed') {
                    return this.convertBytesToNearestBinaryPrefix(value);
                }

                return value;
            }

            _handleError(event) {
                this.handleError(event.detail.error.message);
            }

            _handleUsersResponse(event) {
                const input = event.detail.response;
                input.forEach((quota) => {
                    quota.type = {name: "USER", value: 0};
                    this._convertSizes(quota);
                });
                this.users = input;
                this._mergeQuotas();
            }

            _handleGroupsResponse(event) {
                const input = event.detail.response;
                input.forEach((quota) => {
                    quota.type = {name: "GROUP", value: 1};
                    this._convertSizes(quota);
                });
                this.groups = input;
                this._mergeQuotas();
            }

            _mergeQuotas() {
                if (this.users != null && this.groups != null) {
                    const all = [];
                    this.users.forEach((quota) => all.push(quota));
                    this.groups.forEach((quota) => all.push(quota));
                    this.quotas = all;
                }
            }

            _requestQuotaInfo() {
                this.users = null;
                this.groups = null;
                this._requestUserQuotaInfo();
                this._requestGroupQuotaInfo();
            }

            _requestUserQuotaInfo() {
                this.$.AjaxGetUsers.url = this.getUrl('quota/user', null);
                this.$.AjaxGetUsers.headers = this.getHeaders();
                this.$.AjaxGetUsers.generateRequest();
            }

            _requestGroupQuotaInfo() {
                this.$.AjaxGetGroups.url = this.getUrl('quota/group', null);
                this.$.AjaxGetGroups.headers = this.getHeaders();
                this.$.AjaxGetGroups.generateRequest();
            }
        }

        window.customElements.define(QuotaInfoView.is, QuotaInfoView);
    </script>
</dom-module>