<link rel="import"
      href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import"
      href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import"
      href="../../../../bower_components/iron-list/iron-list.html">
<link rel="import"
      href="../../../../bower_components/iron-selector/iron-selector.html">
<link rel="import"
      href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import"
      href="../../../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import"
      href="../../../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import"
      href="../../../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import"
      href="../../../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import"
      href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import"
      href="../../../../bower_components/paper-item/paper-item.html">
<link rel="import"
      href="../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import"
      href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import"
      href="../../../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import"
      href="../../../../elements/dv-elements/admin/dv-vaadin-theme.html">
<link rel="import"
      href="../../../../elements/dv-elements/admin/dv-admin-mixins.html">
<link rel="import" href="../dialogs/pool-info-dialog.html"/>

<dom-module id="selection-unit-view">
    <template>
        <style>
            :host {
                display: block;
                width: 99vw;
                height: 70vh;
                -webkit-font-smoothing: antialiased;
            }

            vaadin-grid {
                --dv-vaadin-grid-height: 20vh;
                --dv-vaadin-grid-cell-height: 24px;
                --dv-vaadin-grid-header-cell-height: 24px;
                --dv-vaadin-grid-cell-font-size: 9pt;
            }

            iron-list {
                height: 10vh;
                overflow: scroll;
                padding: 10px;
                border: 2px solid var(--dv-light-grey);
                margin-bottom: 10px;
            }

            paper-button {
                min-width: 100px;
                background: var(--dv-charcoal-grey);
                color: var(--dv-main-background);
                margin-right: 10px;
                text-align: center;
                font-size: 10pt;
            }

            paper-scroll-header-panel {
                position: relative;
                height: 100%;
                width: 95%;
            }

            paper-toolbar {
                color: var(--dv-main-background);
                background: var(--dv-charcoal-grey);
            }

            paper-toolbar#query {
                background: var(--dv-light-grey);
                color: var(--dv-charcoal-grey);
            }

            paper-radio-group {
                margin-left: 40px;
            }

            paper-radio-button {
                --paper-radio-button-checked-color: var(--dv-charcoal-grey);
                --paper-radio-button-checked-ink-color: var(--dv-charcoal-grey);
                --paper-radio-button-unchecked-color: var(--dv-light-grey);
                --paper-radio-button-unchecked-ink-color: var(--dv-light-grey);
            }

            paper-input {
                display: inline-block;
                background: var(--dv-main-background);
            }

            paper-dropdown-menu {
                background: var(--dv-main-background);
            }

            hr {
                color: var(--dv-main-background);
                background: var(--dv-main-background);
            }

            .actionable {
                cursor: pointer;
                color: var(--dv-indigo-500);
                -webkit-transition: background 2s; /* Safari */
                transition: background 2s;
            }

            .actionable:active {
                color: var(--dv-main-background);
                background: var(--dv-indigo-900);
            }

            .actionableselected {
                cursor: pointer;
                color: var(--dv-red-500);
                -webkit-transition: background 2s; /* Safari */
                transition: background 2s;
            }

            .actionableselected:active {
                color: var(--dv-main-background);
                background: var(--dv-red-900);
            }

            #top-panel {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }

            #center-panel {
                display: grid;
                grid-template-columns: 1fr 2fr 25%;
            }

            #selection-panel {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-column-gap: 5px;
            }

            #bottom-panel {
                display: grid;
                grid-template-columns: 25% 1fr 25%;
            }

            #selected {
                padding-left: 15%;
                font-size: larger;
                color: var(--dv-red-500);
            }

            #subtitle {
                margin: 20px 50px;
                text-align: center;
                color: var(--dv-charcoal-grey);
            }

            #filterTools {
                background: var(--dv-main-background);
            }

            .item {
                justify-self: stretch;
                align-self: stretch;
                width: 100%;
                height: 100%;
            }
        </style>

        <iron-ajax
                id="AjaxGet"
                method="GET"
                handle-as="json"
                on-response="_handleResponse"
                on-error="_handleError">
        </iron-ajax>
        <iron-ajax
                id="AjaxMatch"
                method="GET"
                handle-as="json"
                on-response="_handleMatchResponse"
                on-error="_handleMatchError">
        </iron-ajax>
        <paper-toolbar>
            <div slot="top" class="title"><strong>Pool Selection Setup</strong></div>
        </paper-toolbar>
        <hr/>
        <paper-scroll-header-panel id="main">
            <paper-toolbar slot="header" id="filterTools">
                <paper-radio-group slot="top" selected="{{category}}">
                    <paper-radio-button name="links">Links</paper-radio-button>
                    <paper-radio-button name="pools">Pools</paper-radio-button>
                    <paper-radio-button name="poolgroups">Pool Groups
                    </paper-radio-button>
                    <paper-radio-button name="units">Units</paper-radio-button>
                    <paper-radio-button name="unitgroups">Unit Groups
                    </paper-radio-button>
                    <paper-radio-button name="partitions">Partitions
                    </paper-radio-button>
                </paper-radio-group>
                <iron-label slot="top" id="selected">
                    [[currentItem]]
                </iron-label>
            </paper-toolbar>
            <div slot="content">
                <hr/>
                <div id="top-panel">
                    <div class="item">
                        <vaadin-grid
                                on-active-item-changed="_activeItemChanged0"
                                active-item="{{activeItem0}}"
                                aria-label="List0" id="list0"
                                items="[[list0]]" size="25">
                            <vaadin-grid-column width="100%" flex-grow="0">
                                <template class="header">
                                    <vaadin-grid-sorter path="name">
                                        [[header0]]
                                    </vaadin-grid-sorter>
                                </template>
                                <template><span
                                        class="actionable">[[item.name]]</span>
                                </template>
                            </vaadin-grid-column>
                        </vaadin-grid>
                    </div>
                    <div class="item">
                        <vaadin-grid
                                on-active-item-changed="_activeItemChanged1"
                                active-item="{{activeItem1}}"
                                aria-label="List1" id="list1"
                                items="[[list1]]" size="25">
                            <vaadin-grid-column width="100%" flex-grow="0">
                                <template class="header">
                                    <vaadin-grid-sorter path="name">
                                        [[header1]]
                                    </vaadin-grid-sorter>
                                </template>
                                <template><span
                                        class="actionableselected">[[item.name]]</span>
                                </template>
                            </vaadin-grid-column>
                        </vaadin-grid>
                    </div>
                    <div class="item">
                        <vaadin-grid
                                on-active-item-changed="_activeItemChanged2"
                                active-item="{{activeItem2}}"
                                aria-label="List2" id="list2"
                                items="[[list2]]" size="25">
                            <vaadin-grid-column width="100%" flex-grow="0">
                                <template class="header">
                                    <vaadin-grid-sorter path="name">
                                        [[header2]]
                                    </vaadin-grid-sorter>
                                </template>
                                <template><span
                                        class="actionableselected">[[item.name]]</span>
                                </template>
                            </vaadin-grid-column>
                        </vaadin-grid>
                    </div>
                    <div class="item">
                        <vaadin-grid
                                on-active-item-changed="_activeItemChanged3"
                                active-item="{{activeItem3}}"
                                aria-label="List3" id="list3"
                                items="[[list3]]" size="25">
                            <vaadin-grid-column width="100%" flex-grow="0">
                                <template class="header">
                                    <vaadin-grid-sorter path="name">
                                        [[header3]]
                                    </vaadin-grid-sorter>
                                </template>
                                <template><span
                                        class="actionableselected">[[item.name]]</span>
                                </template>
                            </vaadin-grid-column>
                        </vaadin-grid>
                    </div>
                </div>
                <br/>
                <div id="center-panel">
                    <div class="item>"></div>
                    <div class="item">
                        <vaadin-grid aria-label="Properties" id="properties"
                                     items="[[nvpairs]]" size="25">
                            <vaadin-grid-column width="50%" flex-grow="0">
                                <template class="header">
                                    <vaadin-grid-sorter path="name">
                                        Name
                                    </vaadin-grid-sorter>
                                </template>
                                <template>[[item.name]]</template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="50%" flex-grow="0">
                                <template class="header">
                                    <vaadin-grid-sorter path="value">
                                        Value
                                    </vaadin-grid-sorter>
                                </template>
                                <template>[[item.value]]</template>
                            </vaadin-grid-column>
                        </vaadin-grid>
                    </div>
                </div>
                <paper-toolbar id="query">
                    <paper-button slot="top" id="send"
                                  on-tap="_handleMatchQuery">
                        Query
                    </paper-button>
                    <iron-label slot="top" id="subtitle"><strong>Simulated I/O
                        Selection</strong></iron-label>
                </paper-toolbar>
                <div id="selection-panel">
                    <paper-input class="item" label="Link Group"
                                 value="{{linkgroup}}"></paper-input>
                    <paper-dropdown-menu class="item" label="IO Direction" noink
                                         no-animations>
                        <iron-selector slot="dropdown-content"
                                       class="dropdown-content"
                                       selected="{{iomode}}">
                            <paper-item>READ</paper-item>
                            <paper-item>WRITE</paper-item>
                            <paper-item>CACHE</paper-item>
                            <paper-item>P2P</paper-item>
                            <paper-item>ANY</paper-item>
                        </iron-selector>
                    </paper-dropdown-menu>
                    <paper-input class="item" label="Storage Unit"
                                 value="{{store}}"></paper-input>
                    <paper-input class="item" label="Cache Class"
                                 value="{{dcache}}"></paper-input>
                    <paper-input class="item" label="Net Unit"
                                 value="{{net}}"></paper-input>
                    <paper-input class="item" label="Protocol"
                                 value="{{protocol}}"></paper-input>
                </div>
                <br/>
                <div id="bottom-panel">
                    <div class="item"></div>
                    <div class="item">
                        <vaadin-grid aria-label="Results" id="matchresults"
                                     items="[[matchresults]]" size="25">
                            <vaadin-grid-column width="50%" flex-grow="0">
                                <template class="header">
                                    <vaadin-grid-sorter path="tag">
                                        Tag
                                    </vaadin-grid-sorter>
                                </template>
                                <template>[[item.tag]]</template>
                            </vaadin-grid-column>
                            <vaadin-grid-column width="50%" flex-grow="0">
                                <template class="header">
                                    <vaadin-grid-sorter path="pool">
                                        Pool
                                    </vaadin-grid-sorter>
                                </template>
                                <template><span
                                        on-tap="_openPoolGroupInfoDialog"
                                        class="actionable">[[item.pool]]</span>
                                </template>
                            </vaadin-grid-column>
                        </vaadin-grid>
                    </div>
                </div>
            </div>
        </paper-scroll-header-panel>
    </template>

    <script>
        class SelectionUnitView extends DcacheViewMixins.AdminBase(Polymer.Element) {

            static get is() {
                return 'selection-unit-view';
            }

            static get properties() {
                return {
                    linkgroup: {
                        type: String,
                        notify: true
                    },

                    iomode: {
                        type: Number,
                        value: 0,
                        notify: true
                    },

                    store: {
                        type: String,
                        value: '*',
                        notify: true
                    },

                    dcache: {
                        type: String,
                        value: '*',
                        notify: true
                    },

                    net: {
                        type: String,
                        value: '::0',
                        notify: true
                    },

                    protocol: {
                        type: String,
                        value: '*/*',
                        notify: true
                    },

                    category: {
                        type: String,
                        value: 'links',
                        observer: '_typeChanged'
                    },

                    header0: {
                        type: String,
                        notify: true
                    },

                    header1: {
                        type: String,
                        notify: true
                    },

                    header2: {
                        type: String,
                        notify: true
                    },

                    header3: {
                        type: String,
                        notify: true
                    },

                    list0: {
                        type: Array,
                        value: ()=>{return []},
                        notify: true
                    },

                    list1: {
                        type: Array,
                        value: ()=>{return []},
                        notify: true
                    },

                    list2: {
                        type: Array,
                        value: ()=>{return []},
                        notify: true
                    },

                    list3: {
                        type: Array,
                        value: ()=>{return []},
                        notify: true
                    },

                    nvpairs: {
                        type: Array,
                        value: ()=>{return []},
                        notify: true
                    },

                    matchresults: {
                        type: Array,
                        value: ()=>{return []},
                        notify: true
                    },

                    currentItem: {
                        type: String,
                        notify: true
                    },

                    nextItem: {
                        type: Object
                    }
                };
            }

            _activeItemChanged0(item) {
                if (item && item.detail && item.detail.value) {
                    this._distributeSelected(item.detail.value);
                }
            }

            _activeItemChanged1(item) {
                if (item && item.detail && item.detail.value) {
                    this.nextItem = item.detail.value;
                    this.category = this._categoryFromHeader(this.header1);
                }
            }

            _activeItemChanged2(item) {
                if (item && item.detail && item.detail.value) {
                    this.nextItem = item.detail.value;
                    this.category = this._categoryFromHeader(this.header2);
                }
            }

            _activeItemChanged3(item) {
                if (item && item.detail && item.detail.value) {
                    this.nextItem = item.detail.value;
                    this.category = this._categoryFromHeader(this.header3);
                }
            }

            _categoryFromHeader(header) {
                switch (header) {
                    case 'Pools':
                        return 'pools';
                    case 'Pool Groups':
                        return 'poolgroups';
                    case 'Units':
                        return 'units';
                    case 'Unit Groups':
                        return 'unitgroups';
                    case 'Links':
                        return 'links';
                    case 'Partitions':
                        return 'partitions';
                    default:
                        return null;
                }
            }

            _clear() {
                this.header1 = '';
                this.header2 = '';
                this.header3 = '';
                this.list1 = [];
                this.list2 = [];
                this.list3 = [];
                this.nvpairs = [];
                this.currentItem = '';
            }

            _convertToName(items) {
                const list = [];
                if (items) {
                    items.forEach((item) => {
                        list.push({'name': item});
                    });
                }
                return list;
            }

            _distributeSelected(item) {
                this._clear();
                this.currentItem = item.name;
                switch (this.category) {
                    case 'pools':
                        this.header1 = "Pool Groups";
                        this.header2 = "Links";
                        this.list1 = this._convertToName(item.groups);
                        this.list2 = this._convertToName(item.links);
                        break;
                    case 'poolgroups':
                        this.header1 = "Pools";
                        this.header2 = "Links";
                        this.list1 = this._convertToName(item.pools);
                        this.list2 = this._convertToName(item.links);
                        break;
                    case 'units':
                        this.header1 = "Unit Groups";
                        this.list1 = this._convertToName(item.groups);
                        const groups = [];
                        groups.push(this.convertToNameValueObject('type', item.type));
                        this.nvpairs = groups;
                        break;
                    case 'unitgroups':
                        this.header1 = "Units";
                        this.header2 = "Links";
                        this.list1 = this._convertToName(item.units);
                        this.list2 = this._convertToName(item.links);
                        break;
                    case 'links':
                        this.header1 = "Unit Groups";
                        this.header2 = "Pool Groups";
                        this.header3 = "Pools";
                        this.list1 = this._convertToName(item.unitGroups);
                        this.list2 = this._convertToName(item.poolGroups);
                        this.list3 = this._convertToName(item.pools);
                        const prefs = [];
                        prefs.push(this.convertToNameValueObject('tag', item.tag));
                        prefs.push(this.convertToNameValueObject('read preference',
                            item.preferences.read));
                        prefs.push(this.convertToNameValueObject('write preference',
                            item.preferences.write));
                        prefs.push(this.convertToNameValueObject('p2p preference',
                            item.preferences.p2p));
                        prefs.push(this.convertToNameValueObject('restore preference',
                            item.preferences.restore));
                        this.nvpairs = prefs;
                        break;
                    case 'partitions':
                        const partitions = [];
                        Object.keys(item.properties).forEach((key) => {
                            partitions.push(this.convertToNameValueObject(key,
                                item.properties[key]));
                        });
                        this.nvpairs = partitions;
                        break;
                }
            }

            _getIOMode() {
                switch (this.iomode) {
                    case 1:
                        return "WRITE";
                    case 2:
                        return "P2P";
                    case 3:
                        return "CACHE";
                    case 4:
                        return "ANY";
                    default:
                        return "READ";
                }
            }

            _handleError(event) {
                const message = `Problem querying ${this.category}: ${event.detail.error.message}`;
                this.handleError(message);
            }

            _handleMatchError(event) {
                const message = `Problem with match query: ${event.detail.error.message}`;
                this.handleError(message);
            }

            _handleMatchQuery() {
                const params = [];

                if (this.linkgroup) {
                    params.push(`linkGroup=${this.linkgroup}`);
                }

                const type = this._getIOMode();
                if (type) {
                    params.push(`type=${type}`);
                }

                if (this.store) {
                    params.push(`store=${this.store}`);
                }

                if (this.dcache) {
                    params.push(`dcache=${this.dcache}`);
                }

                if (this.net) {
                    params.push(`net=${this.net}`);
                }

                if (this.protocol) {
                    params.push(`protocol=${this.protocol}`);
                }

                let query = "";

                if (params.length > 0) {
                    query = `?${params.join("&")}`;
                }

                this.$.AjaxMatch.url
                    = this.getUrl('pool-preferences', query);
                this.$.AjaxMatch.headers = this.getHeaders();
                this.$.AjaxMatch.generateRequest();
            }

            _handleMatchResponse(event) {
                const result = event.detail.response;
                const resultList = [];

                result.forEach((item) => {
                    const tag = item.tag ? item.tag : "None";
                    item.pools.forEach((pool) => {
                        resultList.push({'tag': tag, 'pool': pool});
                    });
                });

                this.matchresults = resultList;
            }

            _handleResponse(event) {
                const result = event.detail.response;
                this._clear();
                switch (this.category) {
                    case 'pools':
                        this.header0 = "Pools";
                        break;
                    case 'poolgroups':
                        this.header0 = "Pool Groups";
                        break;
                    case 'units':
                        this.header0 = "Units";
                        break;
                    case 'unitgroups':
                        this.header0 = "Unit Groups";
                        break;
                    case 'links':
                        this.header0 = "Links";
                        break;
                    case 'partitions':
                        this.header0 = "Partitions";
                        break;
                }
                this.list0 = result;
                if (this.nextItem) {
                    for (var i = 0; i < result.length; ++i) {
                        if (result[i].name === this.nextItem.name) {
                            this._distributeSelected(result[i]);
                            break;
                        }
                    }
                    this.nextItem = null;
                }
            }

            _openPoolGroupInfoDialog(e) {
                e.stopPropagation();
                this.openPoolInfoDialog(e.target.innerText, null);
            }

            _sendRequest(category) {
                let path;

                switch (category) {
                    case "unitgroups":
                        path = "units/groups";
                        break;
                    default:
                        path = category;
                        break;
                }

                this.$.AjaxGet.url = this.getUrl(path, null);
                this.$.AjaxGet.headers = this.getHeaders();
                this.$.AjaxGet.generateRequest();
            }

            _typeChanged(newValue, oldValue) {
                this._sendRequest(newValue);
            }
        }

        window.customElements.define(SelectionUnitView.is, SelectionUnitView);
    </script>
</dom-module>