<link rel="import"
      href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import"
      href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import"
      href="../../../../bower_components/iron-list/iron-list.html">
<link rel="import"
      href="../../../../bower_components/iron-selector/iron-selector.html">
<link rel="import"
      href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import"
      href="../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import"
      href="../../../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import"
      href="../../../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import"
      href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import"
      href="../../../../bower_components/paper-item/paper-item.html">
<link rel="import"
      href="../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import"
      href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import"
      href="../../../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import"
      href="../../../../bower_components/vaadin-grid/vaadin-grid-table-scroll-behavior.html">
<link rel="import"
      href="../../../../elements/dv-elements/admin/dv-admin-mixins.html">

<dom-module id="space-management-view">
    <template>
        <style>
            :host {
                display: block;
                width: 99vw;
                height: 70vh;
            }

            vaadin-grid {
                position: relative;
                height: 50%;
                -webkit-font-smoothing: antialiased;
                --divider-color: #d4d4d4;

                --vaadin-grid-cell: {
                    padding: 0 8px;
                    height: 32px;
                    border-right: 1px solid #d4d4d4;
                    box-sizing: border-box;
                    font-size: 8pt;
                    cursor: default;
                };

                --vaadin-grid-header-cell: {
                    height: 36px;
                    border-bottom: 1px solid #d4d4d4;
                    background-image: linear-gradient(to bottom, #fafafa 2%, #efefef 98%);
                    font-size: 9pt;
                    text-style: bold;
                    text-align: center;
                    cursor: default;
                };

                --vaadin-grid-body-row-odd-cell: {
                    background-color: #f5f5f5;
                };
            }

            paper-button {
                min-width: 100px;
                background: var(--dv-charcoal-grey);
                color: var(--dv-main-background);
                margin-right: 10px;
                text-align: center;
                font-size: 10pt;
            }

            paper-scroll-header-panel {
                position: relative;
                height: 100%;
                margin-right: 3%;
            }

            paper-toolbar {
                color: var(--dv-main-background);
                background: var(--dv-charcoal-grey);
            }

            paper-toolbar.query {
                background: var(--dv-light-grey);
                color: var(--dv-charcoal-grey);
            }

            paper-input {
                display: inline-block;
                background: var(--dv-main-background);
            }

            paper-dropdown-menu {
                background: var(--dv-main-background);
            }

            paper-checkbox {
                margin-left: auto;
                margin-right: auto;
            }

            input {
                @apply(--layout-flex);
                height: 95%;
                width: 95%;
                padding-right: 5px;
            }

            #link-group-query-panel {
                display: grid;
                grid-template-columns: 15% 15% 15% 55%;
                grid-column-gap: 5px;
            }

            #space-token-query-panel {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                grid-column-gap: 5px;
            }

            .item {
                justify-self: stretch;
                align-self: stretch;
                width: 100%;
                height: 100%;
            }

            .actionable {
                cursor: pointer;
                color: var(--dv-indigo-500);
                -webkit-transition: background 2s; /* Safari */
                transition: background 2s;
            }

            .actionable:active {
                color: var(--dv-main-background);
                background: var(--dv-indigo-900);
            }

            .divider {
                color: var(--dv-light-grey);
                background: var(--dv-light-grey);
            }

            .subtitle {
                color: var(--dv-charcoal-grey);
            }

            .detailinfo {
                width: 90%;
                margin: 20px auto;
                overflow: auto;
            }

        </style>

        <iron-ajax
                id="AjaxGet"
                method="GET"
                handle-as="json"
                on-response="_handleResponse"
                on-error="_handleError">
        </iron-ajax>
        <paper-toolbar>
            <div slot="top" class="title">
                <strong>Space Management</strong>
            </div>
        </paper-toolbar>
        <paper-scroll-header-panel id="main">
            <paper-toolbar slot="content" class="query" id="link-group-query">
                <paper-button slot="top" id="clearLinkGroups"
                              on-tap="_clearLinkGroupMatch">
                    Clear
                </paper-button>
                <paper-button slot="top" id="findLinkGroups"
                              on-tap="_getLinkGroups">
                    Find
                </paper-button>
                <iron-label slot="top" class="subtitle">
                    <strong>Find Matching Link Groups</strong>
                </iron-label>
            </paper-toolbar>
            <div slot="content" id="link-group-query-panel">
                <paper-input slot="top" class="item" label="VO Group"
                             value="{{lgvogroup}}"></paper-input>
                <paper-input slot="top" class="item" label="VO Role"
                             value="{{lgvorole}}"></paper-input>
                <paper-input slot="top" class="item" label="Min Available (MB)"
                             value="{{lgminavailable}}"></paper-input>
            </div>
            <div slot="content" class="divider"><br/></div>
            <vaadin-grid slot="content" aria-label="Link Groups" id="lgtable"
                         items="[[linkgroups]]" multi-sort="true" size="20">
                <template class="row-details">
                    <div class="details">
                        <p class="detailinfo">
                            <strong>VOs:&nbsp;&nbsp;[[item.volist]]</strong>
                        </p>
                    </div>
                </template>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="id">
                            Id
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="45px">
                        <template class="header"></template>
                        <template>
                                <span class="actionable"
                                      on-tap="_getSpaceTokensForGroup">
                                    [[item.id]]
                                </span>
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header" resizable>
                        <vaadin-grid-sorter path="name">
                            Name
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="150px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="Name"
                                                path="name"
                                                value="[[_filterName]]">
                                <input slot="filter"
                                       placeholder="Name"
                                       value="{{_filterName::input}}"
                                       focus-target="">
                            </vaadin-grid-filter>
                        </template>
                        <template>[[item.name]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">VO</template>
                    <vaadin-grid-column width="25px">
                        <template class="header"></template>
                        <template>
                            <paper-checkbox aria-label="VO"
                                            checked="{{expanded}}">
                            </paper-checkbox>
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header" resizable>Allowed</template>
                    <vaadin-grid-column width="100px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="Allowed"
                                                path="allowed"
                                                value="[[_filterAllowed]]">
                                <input slot="filter"
                                       placeholder="Allowed"
                                       value="{{_filterAllowed::input}}"
                                       focus-target="">
                            </vaadin-grid-filter>
                        </template>
                        <template>[[item.allowed]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="availableSpace">
                            Available Space (MB)
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="50px">
                        <template class="header"></template>
                        <template>[[item.availableSpace]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="reservedSpace">
                            Reserved Space (MB)
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="50px">
                        <template class="header"></template>
                        <template>[[item.reservedSpace]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="totalSpace">
                            Total Space (MB)
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="50px">
                        <template class="header"></template>
                        <template>[[item.totalSpace]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
            </vaadin-grid>
            <paper-toolbar slot="content" class="query" id="space-token-query">
                <paper-button slot="top" id="clearSpaceTokens"
                              on-tap="_clearSpaceTokenMatch">
                    Clear
                </paper-button>
                <paper-button slot="top" id="findSpaceTokens"
                              on-tap="_getSpaceTokens">
                    Find
                </paper-button>
                <iron-label slot="top" class="subtitle">
                    <strong>Find Matching Space Tokens</strong>
                </iron-label>
            </paper-toolbar>
            <div slot="content" id="space-token-query-panel">
                <paper-input slot="top" class="item" label="GroupId"
                             value="{{stgid}}"></paper-input>
                <paper-input slot="top" class="item" label="VO Group"
                             value="{{stvogroup}}"></paper-input>
                <paper-input slot="top" class="item" label="VO Role"
                             value="{{stvorole}}"></paper-input>
                <paper-dropdown-menu class="item" label="AccessLatency" noink
                                     no-animations>
                    <iron-selector slot="dropdown-content"
                                   class="dropdown-content"
                                   selected="{{stal}}">
                        <paper-item>ONLINE</paper-item>
                        <paper-item>NEARLINE</paper-item>
                        <paper-item></paper-item>
                    </iron-selector>
                </paper-dropdown-menu>
                <paper-dropdown-menu class="item" label="RetentionPolicy" noink
                                     no-animations>
                    <iron-selector slot="dropdown-content"
                                   class="dropdown-content"
                                   selected="{{strp}}">
                        <paper-item>CUSTODIAL</paper-item>
                        <paper-item>REPLICA</paper-item>
                        <paper-item>OUTPUT</paper-item>
                        <paper-item></paper-item>
                    </iron-selector>
                </paper-dropdown-menu>
                <paper-dropdown-menu class="item" label="State" noink
                                     no-animations>
                    <iron-selector slot="dropdown-content"
                                   class="dropdown-content"
                                   selected="{{ststate}}">
                        <paper-item>RESERVED</paper-item>
                        <paper-item>RELEASED</paper-item>
                        <paper-item>EXPIRED</paper-item>
                        <paper-item></paper-item>
                    </iron-selector>
                </paper-dropdown-menu>
                <paper-input slot="top" class="item" label="Min Size (MB)"
                             value="{{stminsize}}"></paper-input>
                <paper-input slot="top" class="item" label="Min Free (MB)"
                             value="{{stminfree}}"></paper-input>
            </div>
            <div slot="content" class="divider"><br/></div>
            <vaadin-grid slot="content" aria-label="Space Tokens" id="sttable"
                         items="[[spacetokens]]" multi-sort="true" size="20">
                <template class="row-details">
                    <div class="details">
                        <p class="detailinfo">
                            <strong>[[item.description]]</strong>
                        </p>
                    </div>
                </template>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="id">
                            Id
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="45px">
                        <template class="header"></template>
                        <template>
                            [[item.id]]
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="linkGroupId">
                            Group Id
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="45px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="GroupId"
                                                path="linkGroupId"
                                                value="[[_filterGid]]">
                                <input slot="filter"
                                       placeholder="linkGroupId"
                                       value="{{_filterGid::input}}"
                                       focus-target="">
                            </vaadin-grid-filter>
                        </template>
                        <template>
                            [[item.linkGroupId]]
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">Desc</template>
                    <vaadin-grid-column width="25px">
                        <template class="header"></template>
                        <template>
                            <paper-checkbox aria-label="Desc"
                                            checked="{{expanded}}">
                            </paper-checkbox>
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="vo">
                            VO
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="150px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="VO"
                                                path="vo"
                                                value="[[_filterVO]]">
                                <input slot="filter"
                                       placeholder="VO"
                                       value="{{_filterVO::input}}"
                                       focus-target="">
                            </vaadin-grid-filter>
                        </template>
                        <template>[[item.vo]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header" resizable>
                        <vaadin-grid-sorter path="storage">
                            Storage
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="150px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="Storage"
                                                path="storage"
                                                value="[[_filterStorage]]">
                                <input slot="filter"
                                       placeholder="Storage"
                                       value="{{_filterStorage::input}}"
                                       focus-target="">
                            </vaadin-grid-filter>
                        </template>
                        <template>[[item.storage]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="state">
                            State
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="75px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="State"
                                                path="state"
                                                value="[[_filterState]]">
                                <input slot="filter"
                                       placeholder="State"
                                       value="{{_filterState::input}}"
                                       focus-target="">
                            </vaadin-grid-filter>
                        </template>
                        <template>[[item.state]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="sizeInBytes">
                            Size
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="50px">
                        <template class="header"></template>
                        <template>[[item.sizeInBytes]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="usedSizeInBytes">
                            Used
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="50px">
                        <template class="header"></template>
                        <template>[[item.usedSizeInBytes]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="allocatedSpaceInBytes">
                            Allocated
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="50px">
                        <template class="header"></template>
                        <template>[[item.allocatedSpaceInBytes]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="expirationTime">
                            Expires
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="100px">
                        <template class="header"></template>
                        <template>[[item.expirationTime.formatted]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
            </vaadin-grid>
        </paper-scroll-header-panel>
    </template>
    <script>
        class SpaceManagementView extends DcacheViewMixins.AdminBase(Polymer.Element) {

            static get is() {
                return 'space-management-view';
            }

            static get properties() {
                return {
                    linkgroups: {
                        type: Array,
                        notify: true,
                    },

                    lgvogroup: {
                        type: String,
                        notify: true
                    },

                    lgvorole: {
                        type: String,
                        notify: true
                    },

                    lgminavailable: {
                        type: String,
                        notify: true
                    },

                    spacetokens: {
                        type: Array,
                        notify: true,
                    },

                    stgid: {
                        type: String,
                        notify: true
                    },

                    stvogroup: {
                        type: String,
                        notify: true
                    },

                    stvorole: {
                        type: String,
                        notify: true
                    },

                    stal: {
                        type: Number,
                        notify: true
                    },

                    strp: {
                        type: Number,
                        notify: true
                    },

                    ststate: {
                        type: Number,
                        notify: true
                    },

                    stminsize: {
                        type: String,
                        notify: true
                    },

                    stminfree: {
                        type: String,
                        notify: true
                    },

                    currentRequestType: {
                        type: Number,
                        value: 0
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
                this._getLinkGroups();
            }

            _clearLinkGroupMatch() {
                this.lgvogroup = null;
                this.lgvorole = null;
                this.lgminavailable = null;
                this.linkgroups = [];
            }

            _clearSpaceTokenMatch() {
                this.stgid = null;
                this.stvogroup = null;
                this.stvorole = null;
                this.stal = null;
                this.strp = null;
                this.ststate = null;
                this.stminallocated = null;
                this.stminfree = null;
                this.spacetokens = [];
            }

            _getAccessLatencyFromChoice(value) {
                switch (value) {
                    case 0: return 'ONLINE';
                    case 1: return 'NEARLINE';
                    default:
                        return null;
                }
            }

            _getBooleanFromChoice(value) {
                switch (value) {
                    case 0: return 'true';
                    case 1: return 'false';
                    default:
                        return null;
                }
            }

            _getCurrentRequestType() {
                switch (this.currentRequestType) {
                    case 1:
                        return 'space tokens';
                    default:
                        return 'link groups';
                }
            }

            _getLinkGroupRequestParams() {
                const params = [];

                if (this.lgvogroup) {
                    params.push(`voGroup=${this.lgvogroup}`);
                }

                if (this.lgvorole) {
                    params.push(`voRole=${this.lgvorole}`);
                }

                if (this.lgminavailable) {
                    params.push(`minAvailableSpace=${parseInt(this.lgminavailable) * 1024 * 1024}`);
                }

                let query;

                if (params.length > 0) {
                    query = `?${params.join("&")}`;
                }

                return query;
            }

            _getLinkGroups() {
                this.currentRequestType = 0;
                this._sendRequest();
            }

            _getPath() {
                switch (this.currentRequestType) {
                    case 1:
                        return "space/tokens";
                    default:
                        return "space/linkgroups";
                }
            }

            _getRetentionPolicyFromChoice(value) {
                switch (value) {
                    case 0: return 'CUSTODIAL';
                    case 1: return 'REPLICA';
                    case 2: return 'OUTPUT';
                    default:
                        return null;
                }
            }

            _getQueryParams() {
                switch (this.currentRequestType) {
                    case 1:
                        return this._getSpaceTokenRequestParams();
                    default:
                        return this._getLinkGroupRequestParams();
                }
            }

            _getSpaceTokens() {
                this.currentRequestType = 1;
                this._sendRequest();
            }

            _getSpaceTokensForGroup(e) {
                this._clearSpaceTokenMatch();
                this.stgid = e.target.innerText;
                this.currentRequestType = 1;
                this._sendRequest();
            }

            _getSpaceTokenRequestParams() {
                const params = [];

                if (this.stgid) {
                    params.push(`groupId=${this.stgid}`);
                }

                if (this.stvogroup) {
                    params.push(`voGroup=${this.stvogroup}`);
                }

                if (this.stvorole) {
                    params.push(`voRole=${this.stvorole}`);
                }

                let value = this._getAccessLatencyFromChoice(this.stal);
                if (value) {
                    params.push(`accessLatency=${value}`);
                }

                value = this._getRetentionPolicyFromChoice(this.strp);
                if (value) {
                    params.push(`retentionPolicy=${value}`);
                }

                value = this._getTokenStateFromChoice(this.ststate);
                if (value) {
                    params.push(`state=${value}`);
                }

                if (this.stminallocated) {
                    params.push(`minAllocatedSpace=${this.stminallocated}`);
                }

                if (this.stminfree) {
                    params.push(`minFreeSpace=${this.stminfree}`);
                }

                let query;

                if (params.length > 0) {
                    query = `?${params.join("&")}`;
                }

                return query;
            }

            _getTokenStateFromChoice(value) {
                switch (value) {
                    case 0: return 'RESERVED';
                    case 1: return 'RELEASED';
                    case 2: return 'EXPIRED';
                    default:
                        return null;
                }
            }

            _handleError(event) {
                this.handleError(`Problem querying ${this._getCurrentRequestType()}: ${event.detail.error.message}`);
            }

            _handleLinkGroupResponse(groups) {
                groups.forEach((g) => {
                    const total = g.availableSpace + g.reservedSpace;
                    g.availableSpace = this.convertToMiB(g.availableSpace);
                    g.reservedSpace = this.convertToMiB(g.reservedSpace);
                    g.totalSpace = this.convertToMiB(total);

                    g.allowed = '';

                    if (g.onlineAllowed) {
                        g.allowed += 'ONLINE ';
                    }

                    if (g.nearlineAllowed) {
                        g.allowed += 'NEARLINE ';
                    }

                    if (g.replicaAllowed) {
                        g.allowed += 'REPLICA ';
                    }

                    if (g.custodialAllowed) {
                        g.allowed += 'CUSTODIAL ';
                    }

                    if (g.outputAllowed) {
                        g.allowed += 'OUTPUT';
                    }

                    const vos = [];

                    if (g.vos) {
                        g.vos.forEach((v) => {
                            vos.push(`${v.voGroup}:${v.voRole}`);
                        });
                    }

                    if (vos.length > 0) {
                        g.volist = vos.join(", ");
                    }
                });

                this.linkgroups = groups;
            }

            _handleResponse(event) {
                switch (this.currentRequestType) {
                    case 1:
                        this._handleSpaceTokenResponse(event.detail.response);
                        break;
                    default:
                    case 0:
                        this._handleLinkGroupResponse(event.detail.response);
                        break;
                }
            }

            _handleSpaceTokenResponse(tokens) {
                tokens.forEach((t) => {
                    t.sizeInBytes = this.convertToMiB(t.sizeInBytes);
                    t.usedSizeInBytes = this.convertToMiB(t.usedSizeInBytes);
                    t.allocatedSpaceInBytes = this.convertToMiB(t.allocatedSpaceInBytes);
                    if (t.expirationTime) {
                        t.expirationTime = this.convertDatestampToObject(t.expirationTime);
                    } else {
                        t.expirationTime = {"value": Number.MAX_SAFE_INTEGER, "formatted": 'NEVER'};
                    }
                    if (t.voGroup) {
                        t.vo = `${t.voGroup}:${t.voRole}`;
                    }
                    t.storage = `${t.accessLatency} ${t.retentionPolicy}`;
                });

                this.spacetokens = tokens;
            }

            _sendRequest() {
                this.$.AjaxGet.url
                    = this.getUrl(this._getPath(), this._getQueryParams());
                this.$.AjaxGet.headers = this.getHeaders();
                this.$.AjaxGet.generateRequest();
            }
        }

        window.customElements.define(SpaceManagementView.is, SpaceManagementView);
    </script>
</dom-module>