<link rel="import"
      href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import"
      href="../../../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import"
      href="../../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import"
      href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import"
      href="../../../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import"
      href="../../../../bower_components/vaadin-grid/vaadin-grid-filter.html">
<link rel="import"
      href="../../../../bower_components/vaadin-grid/vaadin-grid-column-group.html">
<link rel="import"
      href="../../../../elements/dv-elements/admin/dv-vaadin-theme.html">
<link rel="import"
      href="../../../../elements/dv-elements/admin/dv-vaadin-provider-decorator.html">
<link rel="import"
      href="../../../../elements/dv-elements/admin/dv-admin-mixins.html">
<link rel="import" href="../dialogs/pool-info-dialog.html"/>
<link rel="import" href="../dialogs/file-info-dialog.html"/>

<dom-module id="transfers-view">
    <template>
        <style>
            :host {
                display: block;
                height: 70vh;
                @apply(--layout-vertical);
            }

            paper-toolbar {
                color: var(--dv-main-background);
                background: var(--dv-charcoal-grey);
            }

            .tablediv {
                height: 70%;
                width: 100%;
                margin-right: 10px;
            }

            input {
                @apply(--layout-flex);
                height: 95%;
                width: 90%;
                padding-right: 5px;
            }

            paper-checkbox {
                padding: 8px 20px;
                --paper-checkbox-checked-color: var(--dv-charcoal-grey);
                --paper-checkbox-checked-ink-color: var(--dv-charcoal-grey);
                --paper-checkbox-unchecked-color: var(--dv-main-background);
                --paper-checkbox-unchecked-ink-color: var(--dv-main-background);
                --paper-checkbox-label-color: var(--dv-charcoal-grey);
                --paper-checkbox-label-spacing: 0;
                --paper-checkbox-margin: 8px 20px 8px 0;
                --paper-checkbox-vertical-align: middle;
            }

            .actionable {
                cursor: pointer;
                color: var(--dv-indigo-500);
                -webkit-transition: background 2s; /* Safari */
                transition: background 2s;
            }

            .actionable:active {
                color: var(--dv-main-background);
                background: var(--dv-indigo-900);
            }

            #entrytoolbar {
                background: var(--dv-main-background);
            }

            #pnfsidof {
                width: 40%;
                color: var(--dv-charcoal-grey);
            }

            #pnfsid {
                margin-left: 20px;
                width: 30%;
                color: var(--dv-indigo-500);
                cursor: pointer;
            }

            #clear {
                text-align: center;
                max-width: 10%;
                background: var(--dv-charcoal-grey);
                color: var(--dv-main-background);
                margin-right: 50px;
            }

            #kill {
                text-align: center;
                max-width: 10%;
                background: var(--dv-charcoal-grey);
                color: var(--dv-main-background);
            }

            .mover {
            }

            .movercanceled {
                background: lightgray;
                color: white;
            }

            .movernotfound {
                background: red;
                color: white;
            }

            .moverrunning {
                background: green;
                color: white;
            }

            .moverstaging {
                background: yellow;
                color: white;
            }

            .renderingIndicator {
                font-size: 16px;
                text-align: center;
                height: 60px;
                margin-top: 10px;
            }
        </style>

        <iron-ajax
                id="AjaxDelete"
                method="DELETE"
                handle-as="json"
                on-response="_handleDelete"
                on-error="_handleDeleteError">
        </iron-ajax>
        <paper-toolbar id="title">
            <div slot="top" class="title"><strong>Active Disk Transfers</strong></div>
        </paper-toolbar>
        <div class="renderingIndicator" hidden="[[!rendering]]">
            <paper-spinner class="thick" active="[[rendering]]"></paper-spinner>
            <br/>
            <strong>Killing movers ...</strong>
        </div>
        <hr/>
        <template is="dom-if" if="[[showAdminComponents]]">
            <paper-toolbar id="entrytoolbar">
                <paper-button slot="top" id="kill" on-tap="_handleMoverKill">
                    Kill Movers
                </paper-button>
            </paper-toolbar>
        </template>
        <paper-checkbox checked="{{showall}}">Show All Columns</paper-checkbox>
        <div class="tablediv">
            <vaadin-grid aria-label="Disk Transfers" id="transfers"
                         active-item="{{activeItem}}"
                         multi-sort="true" size="[[tableSize]]">
                <template is="dom-if" if="[[showAdminComponents]]">
                    <vaadin-grid-selection-column>
                        <template class="header">
                            <input aria-label="Select All" type="checkbox"
                                   on-click="_toggleAll"
                                   checked="[[_isChecked(selectionAction)]]"
                                   indeterminate="[[_isIndeterminate(selectionAction)]]">
                        </template>
                        <template>
                            <input aria-label="Select Row" type="checkbox"
                                   on-change="_selectItem"
                                   checked="{{selected::change}}">
                        </template>
                    </vaadin-grid-selection-column>
                </template>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="state">
                            State
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="100px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="State"
                                                path="state"
                                                value="[[_filterState]]">
                                <input slot="filter"
                                       placeholder="State"
                                       value="{{_filterState::input}}"
                                       focus-target/>
                            </vaadin-grid-filter>
                        </template>
                        <template>
                            <span class$="mover[[_computeMoverStatusCSSClass(item)]]">
                                [[item.moverStatus]]
                            </span>
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group resizable hidden="[[!showall]]">
                    <template class="header">
                        <vaadin-grid-sorter path="path">
                            Path
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="225px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="Path"
                                                path="path"
                                                value="[[_filterPath]]">
                                <input slot="filter"
                                       placeholder="Path"
                                       value="{{_filterPath::input}}"
                                       focus-target>
                            </vaadin-grid-filter>
                        </template>
                        <template>[[item.path]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="door">
                            Door
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="175px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="Door"
                                                path="door"
                                                value="[[_filterCellName]]">
                                <input slot="filter"
                                       placeholder="Door"
                                       value="{{_filterCellName::input}}"
                                       focus-target>
                            </vaadin-grid-filter>
                        </template>
                        <template>[[item.cellName]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="domain">
                            Domain
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="175px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="Domain"
                                                path="domain"
                                                value="[[_filterDomainName]]">
                                <input slot="filter"
                                       placeholder="Domain"
                                       value="{{_filterDomainName::input}}"
                                       focus-target>
                            </vaadin-grid-filter>
                        </template>
                        <template>[[item.domainName]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group hidden="[[!showall]]">
                    <template class="header">
                        Seq
                    </template>
                    <vaadin-grid-column width="125px">
                        <template class="header"></template>
                        <template>[[item.serialId]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="prot">
                            Prot
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="100px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="Prot"
                                                path="prot"
                                                value="[[_filterProtocol]]">
                                <input slot="filter"
                                       placeholder="Prot"
                                       value="{{_filterProtocol::input}}"
                                       focus-target/>
                            </vaadin-grid-filter>
                        </template>
                        <template>[[item.protocol]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group hidden="[[!showall]]">
                    <template class="header">
                        <vaadin-grid-sorter path="uid">
                            UID
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="75px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="UID"
                                                path="uid"
                                                value="[[_filterUID]]">
                                <input slot="filter"
                                       placeholder="UID"
                                       value="{{_filterUID::input}}"
                                       focus-target/>
                            </vaadin-grid-filter>
                        </template>
                        <template>[[item.userInfo.uid]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group hidden="[[!showall]]">
                    <template class="header">
                        <vaadin-grid-sorter path="gid">
                            GID
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="75px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="GID"
                                                path="gid"
                                                value="[[_filterGID]]">
                                <input slot="filter"
                                       placeholder="GID"
                                       value="{{_filterGID::input}}"
                                       focus-target/>
                            </vaadin-grid-filter>
                        </template>
                        <template>[[item.userInfo.gid]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group hidden="[[!showall]]" resizable>
                    <template class="header">
                        <vaadin-grid-sorter
                                path="vomsgroup">
                            VomsGroup
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="125px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="VomsGroup"
                                                path="vomsgroup"
                                                value="[[_filterVomsGroup]]">
                                <input slot="filter"
                                       placeholder="VomsGroup"
                                       value="{{_filterVomsGroup::input}}"
                                       focus-target/>
                            </vaadin-grid-filter>
                        </template>
                        <template>
                            [[item.userInfo.primaryVOMSGroup]]
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="pnfsid">
                            Pnfsid
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="250px">
                        <template class="header">
                            <vaadin-grid-filter id="idFilter"
                                                aria-label="Pnfsid"
                                                path="pnfsid"
                                                value="[[_filterPnfsid]]">
                                <input slot="filter"
                                       id="idFilterInput"
                                       placeholder="Pnfsid"
                                       value="{{_filterPnfsid::input}}"
                                       focus-target/>
                            </vaadin-grid-filter>
                        </template>
                        <template>
                            <span on-tap="_openFileInfo"
                                  class="actionable">[[item.pnfsId]]</span>
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group resizable>
                    <template class="header">
                        <vaadin-grid-sorter path="pool">
                            Pool
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="200px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="Pool"
                                                path="pool"
                                                value="[[_filterPool]]">
                                <input slot="filter"
                                       placeholder="Pool"
                                       value="{{_filterPool::input}}"
                                       focus-target/>
                            </vaadin-grid-filter>
                        </template>
                        <template>
                            <span on-tap="_openPoolInfo"
                                  class="actionable">[[item.pool]]</span>
                        </template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group hidden="[[!showall]]">
                    <template class="header">
                        Proc
                    </template>
                    <vaadin-grid-column width="75px">
                        <template class="header"></template>
                        <template>[[item.process]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group hidden="[[!showall]]">
                    <template class="header">
                        <vaadin-grid-sorter path="client">
                            Client
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="100px">
                        <template class="header">
                            <vaadin-grid-filter aria-label="Client"
                                                path="client"
                                                value="[[_filterClient]]">
                                <input slot="filter"
                                       placeholder="Client"
                                       value="{{_filterClient::input}}"
                                       focus-target/>
                            </vaadin-grid-filter>
                        </template>
                        <template>[[item.replyHost]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group hidden="[[!showall]]" resizable>
                    <template class="header">
                        Status
                    </template>
                    <vaadin-grid-column width="150px">
                        <template class="header"></template>
                        <template>[[item.sessionStatus]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group>
                    <template class="header">
                        <vaadin-grid-sorter path="waiting">
                            Waiting
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="100px">
                        <template class="header"></template>
                        <template>[[item.timeWaiting]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group hidden="[[!showall]]">
                    <template class="header">
                        <vaadin-grid-sorter path="size">
                            Size
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="75px">
                        <template class="header"></template>
                        <template>[[item.bytesTransferred]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
                <vaadin-grid-column-group hidden="[[!showall]]">
                    <template class="header">
                        <vaadin-grid-sorter path="mbsec">
                            MB/sec
                        </vaadin-grid-sorter>
                    </template>
                    <vaadin-grid-column width="75px">
                        <template class="header"></template>
                        <template>[[item.transferRate]]</template>
                    </vaadin-grid-column>
                </vaadin-grid-column-group>
            </vaadin-grid>
        </div>
    </template>

    <script>
        class TransfersView extends
            DcacheViewMixins.AdminAutoRefresh(DcacheViewMixins.AdminBase(Polymer.Element)) {

            static get is() {
                return 'transfers-view';
            }

            static get properties() {
                return {
                    name: {
                        type: String,
                        value: "TRANSFERS"
                    },

                    decorator: {
                        type: Object,
                    },

                    activeItem: {
                        type: Object,
                        observer: '_setCurrentItem'
                    },

                    currentItem: {
                        type: Object
                    },

                    killedUrls: {
                        type: Object,
                        value: function() { return {}; }
                    },

                    tableSize: {
                        type: Number,
                        value: 0,
                        notify: true
                    },

                    rendering: {
                        type: Boolean,
                        value: false,
                        notify: true
                    },

                    selectionAction: {
                        type: Boolean,
                        value: false,
                        notify: true
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback();
                this.componentPath = '/admin/active-transfers';

                window.addEventListener('dv-vaadin-provider-selection-column-clear-transfers', this.signalChange.bind(this));
                window.addEventListener('dv-vaadin-provider-reset-timeout-transfers', this.resetTimeout.bind(this));
                window.addEventListener('dv-vaadin-provider-update-table-size-transfers', this.setTableSize.bind(this));

                this.decorator = new DvVaadinProviderDecorator(this.$.transfers,
                                                               null,
                                                               this.handleItem.bind(this),
                                                               (xhr) => JSON.parse(xhr.responseText).items,
                                                               (index) => 'transfers',
                                                               (index) => '',
                                                               'transfers',
                                                                11);

                /*
                 * This must be assigned only after the decorator has been
                 * constructed; it is called immediately upon assignment.
                 */
                this.$.transfers.dataProvider = this._remoteProvider.bind(this);
            }

            disconnectedCallback() {
                super.disconnectedCallback();

                window.removeEventListener('dv-vaadin-provider-selection-column-clear-transfers', this.signalChange.bind(this));
                window.removeEventListener('dv-vaadin-provider-reset-timeout-transfers', this.resetTimeout.bind(this));
                window.removeEventListener('dv-vaadin-provider-update-table-size-transfers', this.setTableSize.bind(this));
            }

            /*
             *  ------------------------ Selection ---------------------------
             */

            signalChange(e) {
                this.selectionAction = !this.selectionAction;
            }

            _isChecked(selectionAction) {
                return this.decorator.isChecked();
            }

            _isIndeterminate(selectionAction) {
                return this.decorator.isIndeterminate();
            }

            _selectItem(e) {
                this.decorator.selectItem(e, this);
            }

            _toggleAll(e) {
                this.decorator.toggleAll(this);
            }

            /*
             *  ------ Lazy Load & Infinite Scroll, with Filter & Sort -------
             */

            handleItem(item, index) {
                return item;
            }

            resetTimeout(e) {
                this.resetRefresh(this._refresh.bind(this), 60000);
            }

            setTableSize(e) {
                this.tableSize = e.detail.size;
            }

            _computeMoverStatusCSSClass(transfer) {
                if (!transfer) {
                    return "";
                }

                switch (transfer.moverStatus) {
                    case "NOTFOUND":
                        return "notfound";
                    case "STAGING":
                        return "staging";
                    case "RUNNING":
                        return "running";
                    case "CANCELED":
                        return "canceled";
                    default:
                        return "";
                }
            }

            _refresh() {
                this.decorator.resetProvider();
            }

            _remoteProvider(params, callback) {
                return this.decorator.runProvider(params, callback);
            }


            /* -------------------------- Dialogs -------------------------- */

            _setCurrentItem(item) {
                if (item) {
                    this.currentItem = item;
                }
            }

            _openFileInfo() {
                if (typeof this.currentItem === 'undefined') {
                    return;
                }

                this.openFileInfoDialog(this.currentItem.pnfsId,
                    this.currentItem.pool);

            }

            _openPoolInfo() {
                if (typeof this.currentItem === 'undefined') {
                    return;
                }

                this.openPoolInfoDialog(this.currentItem.pool,
                    this.currentItem.pnfsId);
            }

            /* --------------------- Path & Mover Kill --------------------- */

            _handleDelete(event) {
                delete this.killedUrls[event.detail.url];
                if (this.decorator && Object.keys(this.killedUrls).length === 0) {
                    this._refresh();
                }
            }

            _handleDeleteError(event) {
                this._handleDelete(event);

                let message;
                const errors = event.detail.request.xhr.response.errors;

                if (errors && errors.length > 0) {
                    message = '';
                    for (let i = 0; i < errors.length; i++) {
                        message = `${message}(error ${errors[i].status}: ${errors[i].message})`;
                    }
                } else {
                    message = event.detail.error.message;
                }

                this.handleError(`Could not kill mover(s): ${message}`);
            }

            _handleMoverKill() {
                this.rendering = true;

                this.$.transfers.selectedItems.forEach((item) => {
                    if (item.pool && !item.pool.includes('unknown') && item.moverId) {
                        this._sendMoverKill(item.pool, item.moverId);
                    } else {
                        this.handleError(`Cannot kill mover for transfer
                            ${item.cellName}-${item.domainName}-${item.serialId}:
                            undefined mover.`);
                    }
                });

                this.rendering = false;
                this.decorator.clearSelected(this);
            }

            _sendMoverKill(pool, id) {
                const url = this.getUrl(`pools/${pool}/movers/${id}`, null);
                this.killedUrls[url]=true;
                this.$.AjaxDelete.url = url;
                this.$.AjaxDelete.headers = this.getHeaders();
                this.$.AjaxDelete.rejectWithRequest = true;
                this.$.AjaxDelete.generateRequest();
            }
        }

        window.customElements.define(TransfersView.is, TransfersView);
    </script>
</dom-module>